.navbar-brand
{
   font-weight: bold; 
}
.nav-item{
    margin-left: 800px;
    font-weight: bold;
}
.nav-item2{
    font-weight: bold;
}
.signup{
    background-color: #6f42c1;
}
h3{
    display:block;
   
}
nav>{
    background-color: white;
}
.text-center{
    text-align: center;
}
.text-center1{
    margin-top: 50px;
    color: red;
    font-weight: bold;
}
.abcd{
    color: #6f42c1;
    font-weight: bold;
}
.bb{
    font-weight: bold;
}
.cc{
    font-weight: bold;
}
.pp{
    text-align: center;
}
.form outline{
    text-align: center;
}
.cccc{
    margin-right:20px;
}
.ccbb{
    margin-left: 500px;
}
img{
    width:30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 100px;
    margin-bottom: 10px;
    
}
.gggg{
    color: #6f42c1;
    margin-left: 30px;
    font-weight: bold;
}
.ffff{
    font-weight: bold;
}
p{
    margin-left: 30px;
}
.container{
    margin-left:70px;
}
.pppp{
    margin-left: 950px;
    
}
.kkkk{
   margin: 0%;

}
.iiii{
    margin: 0%;
    font-weight: bold;
}
.ko{
    margin-left: 20px;
}
#html1{
    margin-left: 20px;
}
#html2{
    margin-left: 20px;
}
#html3{
    margin-left: 20px;
}
#html4{
    margin-left: 20px;
}
#html5{
    margin-left: 20px;
}
.oo{
    margin-left: 20px;
}
#html6{
    margin-left: 20px;
}
#html7{
    margin-left: 20px;
}
#html8{
    margin-left: 20px;
}
.po{
    margin-left: 20px;
}
#html9{
    margin-left: 20px;
}
#html10{
    margin-left: 20px;
}
#html11{
    margin-left: 20px;
}
.lo{
    font-weight: bold;
}